{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}로그인{% endblock %}

{% block content %}
    <form method="post" id="post-form" class="border border-light p-5">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-info btn-block my-4" type="submit">로그인</button>
        {% endbuttons %}
    </form>

    <div class="d-flex flex-column my-4">
        {#	<a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>#}
    </div>

    <script type="text/javascript" src="{% static 'js/jsencrypt.min.js' %}"></script>
    <script>
        $(document).on('submit', '#post-form', function (e) {
            e.preventDefault();
            var plainpw = $("input[name=password]").val();
            var pubkey = "-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC6dMMXd/qmF6Sn7gebxdu5JAxD\nEyk7VdZdU4gFKEi/r+wzGav16C3SjvT6X8YNSHwmMmhtJ1QNWnsvjo9ozHXSa6tb\nisBn/CSfhjSxbKf5NfwFqebO89N5kHsU6577+QiO+9U+RjZ4aEk5UladP0WhFNf6\nnQCXXXE+2RRSAvhOsQIDAQAB\n-----END PUBLIC KEY-----";
            var crypt = new JSEncrypt();
            crypt.setPrivateKey(pubkey);
            var password = crypt.encrypt(plainpw);

            $.ajax({
                type: 'POST',
                url: '{% url 'login' %}',
                data: {
                    username: $("input[name=username]").val(),
                    password: password,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    {#console.log(json);#}
                    if (json.data == 1) {
                        window.location.href = '/';
                        alert(json.message);
                    } else if (json.data == 0) {
                        alert(json.message);
                    }
                },
                error: function (xhr, errmsg, err) {
                    alert('에러가 발생했습니다.');
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    </script>

{% endblock content %}